# Proyek pertama : Jaya jaya maju


Nama        : Muhammad Fikri Fadillah

Email       : fikriu13@gmail.com

Id Dicoding : fikriu13

## Persiapan

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("employee_data.csv" , encoding='windows-1252')
df.head(5)

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,38,NaN,Travel_Frequently,1444,Human Resources,1,4,Other,1,...,2,80,1,7,2,3,6,2,1,2
1,2,37,1.0,Travel_Rarely,1141,Research & Development,11,2,Medical,1,...,1,80,0,15,2,1,1,0,0,0
2,3,51,1.0,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,...,3,80,3,18,2,4,10,0,2,7
3,4,42,0.0,Travel_Frequently,555,Sales,26,3,Marketing,1,...,4,80,1,23,2,4,20,4,4,8
4,5,40,NaN,Travel_Rarely,1194,Research & Development,2,4,Medical,1,...,2,80,3,20,2,3,5,3,0,2

## Data Understanding

In [20]:
df.isna().sum()

EmployeeId                    0
Age                           0
Attrition                   412
BusinessTravel                0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeCount                 0
EnvironmentSatisfaction       0
Gender                        0
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome                 0
MonthlyRate                   0
NumCompaniesWorked            0
Over18                        0
OverTime                      0
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours                 0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear         0
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

In [21]:
df.dropna(subset=["Attrition"], inplace=True)
df.isna().sum()

EmployeeId                  0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [22]:
# Menghitung attrition perusahaan
rate_attrition = df["Attrition"].dropna().mean() * 100
print(f"Attrition Rate : {rate_attrition:.2f}%")

Attrition Rate : 16.92%

In [23]:
# Menghitung attrition per department
dept_attrition = df.groupby("Department")["Attrition"].mean().sort_values(ascending=False) * 100
print(dept_attrition)

Department
Sales                     20.689655
Human Resources           15.789474
Research & Development    15.263909
Name: Attrition, dtype: float64

In [24]:
# Menghitung attrition rate per job role
role_attrition = df.groupby("JobRole")["Attrition"].mean().sort_values(ascending=False) * 100
print(role_attrition)

JobRole
Sales Representative         43.103448
Laboratory Technician        26.063830
Human Resources              20.000000
Research Scientist           17.757009
Sales Executive              16.810345
Healthcare Representative     9.090909
Manufacturing Director        6.542056
Manager                       6.329114
Research Director             3.225806
Name: Attrition, dtype: float64

In [25]:
# Menghitung attrition rate per age
bins = [18, 25, 35, 45, 60]
labels = ['18-25', '26-35', '36-45', '46-60']
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)

age_attrition = df.groupby("AgeGroup")["Attrition"].mean().sort_values(ascending=False) * 100
print(age_attrition)

AgeGroup
18-25    37.209302
26-35    19.489559
46-60    11.594203
36-45    10.975610
Name: Attrition, dtype: float64

In [26]:
# Mapping label WorkLifeBalance
wlb_labels = {
    1: "Low",
    2: "Good",
    3: "Excellent",
    4: "Outstanding"
}

# Tambahkan kolom label
df["WLB_Label"] = df["WorkLifeBalance"].map(wlb_labels)

# Hitung attrition rate berdasarkan label
wlb_attrition_labeled = df.groupby("WLB_Label")["Attrition"].mean().sort_values(ascending=False) * 100
print(wlb_attrition_labeled)

WLB_Label
Low            32.142857
Outstanding    19.469027
Good           17.928287
Excellent      14.733542
Name: Attrition, dtype: float64

In [27]:
# Hitung attrition rate berdasarkan status lembur
overtime_attrition = df.groupby("OverTime")["Attrition"].mean().sort_values(ascending=False) * 100
print(overtime_attrition)

OverTime
Yes    31.921824
No     10.785619
Name: Attrition, dtype: float64

In [28]:
df["IncomeGroup"] = pd.qcut(df["MonthlyIncome"], q=4, labels=["Low", "Medium", "High", "Very High"])
income_attrition = df.groupby("IncomeGroup")["Attrition"].mean().sort_values(ascending=False) * 100
print(income_attrition)

IncomeGroup
Low          29.056604
Medium       16.666667
High         12.121212
Very High     9.811321
Name: Attrition, dtype: float64

## Data preparation

In [29]:
# 1. Pilih kolom yang diinginkan
selected_columns = [
    "Attrition", "MonthlyIncome", "Department", "Age",
    "WorkLifeBalance", "JobRole", "OverTime"
]

# 2. Buat DataFrame baru dengan kolom tersebut
filtered_df = df[selected_columns]

In [30]:
filtered_df[["Attrition", "MonthlyIncome", "Department", "Age", "WorkLifeBalance", 
    "JobRole", "OverTime"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 1 to 1469
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attrition        1058 non-null   float64
 1   MonthlyIncome    1058 non-null   int64
 2   Department       1058 non-null   object
 3   Age              1058 non-null   int64
 4   WorkLifeBalance  1058 non-null   int64
 5   JobRole          1058 non-null   object
 6   OverTime         1058 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 66.1+ KB

In [31]:
filtered_df['Attrition'] = df['Attrition'].astype(int)

C:\Users\ACER\AppData\Local\Temp\ipykernel_12896\3961142446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Attrition'] = df['Attrition'].astype(int)

In [32]:
filtered_df[["Attrition", "MonthlyIncome", "Department", "Age", "WorkLifeBalance", 
    "JobRole", "OverTime"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058 entries, 1 to 1469
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attrition        1058 non-null   int32
 1   MonthlyIncome    1058 non-null   int64
 2   Department       1058 non-null   object
 3   Age              1058 non-null   int64
 4   WorkLifeBalance  1058 non-null   int64
 5   JobRole          1058 non-null   object
 6   OverTime         1058 non-null   object
dtypes: int32(1), int64(3), object(3)
memory usage: 62.0+ KB

In [33]:
#from sqlalchemy import create_engine
 
#URL = "postgresql://postgres.ixfuayesusjjmyvsgski:xxxxxx2A@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
 
#engine = create_engine(URL)
#filtered_df.to_sql('analisahr', engine)